<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Custom CSS-->
  <link rel="stylesheet" href="styles.css">
  <!--Semantic-UI CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>Brands</title>
</head>

<body>
  <!--Vertical Navbar-->
  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4" style="background-color: #ff8ab3;">
      <div class="media d-flex align-items-center">

        &emsp;<div class="media-body">
          <h4 class="m-0">
            <p class="text-white">Aurora IT</p>
          </h4>
          <p class="font-weight-light text-white mb-0">Admin</p>
        </div>
      </div>
    </div>


    <center>
      <div class="py-2" style="background-color: darkcyan;">
        <h5>MAIN</h5>
      </div>
    </center>

    <ul class="nav flex-column bg-white mb-0 mt-2">
      <li class="nav-item">
        <a href="/" class="nav-link text-dark font-italic">
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a href="/orders" class="nav-link text-dark font-italic">
          View Orders

        </a>
      </li>
    </ul>

    <center>
      <div class="py-2" style="background-color: darkcyan;">
        <h5>Manage</h5>
      </div>
    </center>


    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/brands" class="nav-link text-dark font-italic" style="background-color: slategray;">
          <p class="text-white">
            Brand
          </p>

        </a>
      </li>
      <li class="nav-item">
        <a href="/categories" class="nav-link text-dark font-italic">
          Category
        </a>
      </li>
      <li class="nav-item">
        <a href="/models" class="nav-link text-dark font-italic">
          Models
        </a>
      </li>
    </ul>

    <center>
      <div class="py-2" style="background-color: darkcyan;">
        <h5>Reports</h5>
      </div>
    </center>

  

    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/sales_filter" class="nav-link text-dark font-italic">
          <!-- <i class="yelp icon"></i> -->
          Sales
        </a>
      </li>
      <li class="nav-item">
        <a href="/stock_filter" class="nav-link text-dark font-italic">
          <!-- <i class="bookmark icon"></i> -->
          Stock
        </a>
      </li>
    </ul>
    <center>
      <div class="py-2" style="background-color: darkcyan;">
        <h5>Accounts</h5>
      </div>
    </center>
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/register" class="nav-link text-dark font-italic">
            Register Stuff
          </a>
      </li>
      <li class="nav-item">
        <a href="/accountRegister" class="nav-link text-dark font-italic">
            Accounts Details
        </a>
      </li>
    </ul>
    <form action="/logout?_method=DELETE" method="POST">
      <center><button type="submit" class="btn btn-danger mb-4 mt-2">
          <p class="text-white">Log Out</p>
        </button></center>
    </form>
  </div>
  <!-- End vertical navbar -->

  <!-- Page content holder -->
  <div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <!-- Navbar -->

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 "><i
            class="align justify icon"></i>
          <!-- <small class="text-uppercase font-weight-bold">Menu</small> -->
        </button>

        <div class="d-flex">
          <img src="admin.svg" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        </div>
      </div>
    </nav>
    <!-- Page content -->

    <h1 class="text-center ui horizontal divider header text-primary">Manage Brands</h1>
    <!-- <center><img class="ui medium rounded image" src="brand.svg"></center> -->
    <br>
    <center>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-lg btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Brand <i class="plus circle icon"></i></span>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Brand</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Enter New Brand</label>
                <form action="/addbrand" method="POST">
                  <input type="text" class="form-control" id="formGroupExampleInput" name="new">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" value="Hello">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </center>

    <div class="row">
      <% brand.forEach(function(order){ %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <center>
                <div class="card-title">
                  <%= order.Brand %>
              </div>
              &emsp;<form action="/deletebrand" method="POST"><input type="hidden" name="deleteid"
                value="<%= order.Brand %>"><button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
              </center>
            </div>
          </div>
        </div>
      <% }); %>
    </div>

      


      
    </div>
  </div>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <!-- Semnatic-UI Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <script>
    $(function () {
      // Sidebar toggle behavior
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
      });
    });

  </script>


</body>

</html>